{% extends "layouts/base_frame.html" %}
{% load non_breaking_hyphen %}

{% block title %}
    {{ build_page_title }}
{% endblock %}

{% block content %}
    {% for release_note in release_notes %}
        Release: <strong>{{ release_note.release }}</strong>

        <table class="table table-small-font table-bordered table-striped">
            <thead>
            <tr>
                <th>Ticket</th>
                <th>Responsible</th>
                <th>Update</th>
                <th>Impex</th>
                <th>Manual</th>
                <th>Special notes</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket_note in release_note.ticket_notes %}
                <tr>
                    <td>{{ ticket_note.id | non_breaking_hyphen }}</td>
                    <td>{{ ticket_note.responsible_person }}</td>
                    <td>
                        {% if ticket_note.update == True %}
                            <i class="fa-check"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% include "components/version_file_list.html" with checkbox=ticket_note.impex file_version_map=ticket_note.impex_files_map %}
                    </td>
                    <td>
                        {% include "components/version_file_list.html" with checkbox=ticket_note.manual file_version_map=ticket_note.manual_files_map gray_when_empty=ticket_note.special %}
                    </td>

                    <td>
                        <p style="color: #2c2e2f">{{ ticket_note.special|default_if_none:"" }}</p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    {% endfor %}
{% endblock %}
