{% extends "layouts/base_frame.html" %}
{% load non_breaking_hyphen %}

{% block title %}
    {{ build_page_title }}
{% endblock %}

{% block content %}
    {% for release_note in release_notes %}
        Release: <strong>{{ release_note.release }}</strong>

        <table class="table table-small-font table-bordered table-striped">
            <thead>
            <tr>
                <th>Ticket</th>
                <th>Responsible</th>
                <th>Update</th>
                <th>Impex</th>
                <th>Manual</th>
                <th>Special notes</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket_note in release_note.ticket_notes %}
                <tr>
                    <td>{{ ticket_note.id | non_breaking_hyphen }}</td>
                    <td>{{ ticket_note.responsible_person }}</td>
                    {% if ticket_note.update == True %}
                        <td><i class="fa-check"></i></td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    {% if ticket_note.impex == True %}
                        <td>
                            {% if ticket_note.impex_files_map %}
                                <i class="fa-check"></i>
                                {% for release_version, impexes in ticket_note.impex_files_map.items %}
                                    {% if release_version in release_note.release %}
                                        {% for impex_file in impexes %}
                                            <p style="color: green">{{ impex_file | non_breaking_hyphen }}</p>
                                        {% endfor %}
                                    {% else %}
                                        {% for impex_file in impexes %}
                                            <p style="color: red">{{ impex_file | non_breaking_hyphen }}</p>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <i style="color: red" class="fa-check"></i>
                            {% endif %}
                        </td>
                    {% else %}
                        <td>
                            {% if ticket_note.impex_files_map %}
                                {% for release in ticket_note.impex_files_map %}
                                    <p style="color: red">{{ impex_file | non_breaking_hyphen }}</p>
                                {% endfor %}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if ticket_note.manual == True %}
                        <td>
                            {% if ticket_note.special %}
                                <i class="fa-check"></i>
                            {% else %}
                                <i style="color: red" class="fa-check"></i>
                            {% endif %}
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    <td>
                        <p style="color: #2c2e2f">{{ ticket_note.special|default_if_none:"" }}</p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    {% endfor %}
{% endblock %}
